*{
  margin: 0px;
}

#form-body{
  border: 1px solid grey;
  width: 370px;
  margin: auto;
  height: auto; /* to make the height adjust to content*/
  margin-top: 100px;
  padding: 15px;
  padding-bottom: 30px;
  border-radius: 5px;
}

#search {
  position: absolute;
  top: 75px; 
  right: 50px; 
}

#search .form-control {
  width: 300px;
  height: 45px;
}

.table{
  margin-top: 3%;
}

.headings {
  padding-left: 10px;
  padding-top: 10px;
}